In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import seaborn as sns
from env import host, user, password

In [13]:
telco_rivers_churn= pd.read_csv('churn_m2m.csv')
telco_rivers_churn

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,phone_service_VLookup,internet_service,internet_service_VLookup,contract_type,...,churn,tenure,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents,start_date,monthly_charges.1
0,5287-QWLKY,Male,1,Yes,Yes,2,Two or More Lines,2,Fiber Optic,0,...,Yes,71.818268,False,True,True,True,True,3,NaN,$105.10
1,5502-RLUYV,Female,0,Yes,Yes,2,Two or More Lines,2,Fiber Optic,0,...,Yes,71.639250,True,True,True,True,True,3,NaN,$103.95
2,0979-PHULV,Male,0,Yes,Yes,2,Two or More Lines,2,Fiber Optic,0,...,Yes,70.463550,False,True,True,True,True,3,NaN,$99.45
3,9090-SGQXL,Male,1,Yes,No,2,Two or More Lines,2,Fiber Optic,0,...,Yes,69.322412,False,True,True,True,True,1,NaN,$105.30
4,4550-VBOFE,Male,1,Yes,No,2,Two or More Lines,2,Fiber Optic,0,...,Yes,68.980087,False,True,True,True,True,1,NaN,$102.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1651,9894-EZEWG,Female,0,No,No,1,One Line,2,Fiber Optic,0,...,Yes,1.000000,True,True,True,True,True,0,NaN,$74.30
1652,9907-SWKKF,Female,1,No,No,0,No Phone Service,1,DSL,0,...,Yes,1.000000,True,True,False,True,False,0,NaN,$25.05
1653,9940-RHLFB,Female,0,No,No,1,One Line,2,Fiber Optic,0,...,Yes,1.000000,True,True,True,True,True,0,NaN,$75.30
1654,9974-JFBHQ,Female,0,Yes,Yes,0,No Phone Service,1,DSL,0,...,Yes,1.000000,True,True,False,True,False,3,NaN,$30.50
1655,9995-HOTOH,Female,0,No,No,1,One Line,2,Fiber Optic,0,...,Yes,1.000000,True,True,True,True,True,0,NaN,$70.15

In [11]:
telco_rivers_churn.

AttributeError: 'DataFrame' object has no attribute 'value_count'