In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import seaborn as sns
from env import host, user, password

In [4]:
telco_rivers_churn= pd.read_csv('churn_exercise.csv')
telco_rivers_churn

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,phone_service_VLookup,internet_service,internet_service_VLookup,contract_type,...,churn,tenure,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents,start_date,monthly_charges.1
0,5287-QWLKY,Male,1,Yes,Yes,2,Two or More Lines,2,Fiber Optic,0.0,...,Yes,71.818268,False,True,True,True,True,3,NaN,$105.10
1,5502-RLUYV,Female,0,Yes,Yes,2,Two or More Lines,2,Fiber Optic,0.0,...,Yes,71.639250,True,True,True,True,True,3,NaN,$103.95
2,0979-PHULV,Male,0,Yes,Yes,2,Two or More Lines,2,Fiber Optic,0.0,...,Yes,70.463550,False,True,True,True,True,3,NaN,$99.45
3,9090-SGQXL,Male,1,Yes,No,2,Two or More Lines,2,Fiber Optic,0.0,...,Yes,69.322412,False,True,True,True,True,1,NaN,$105.30
4,4550-VBOFE,Male,1,Yes,No,2,Two or More Lines,2,Fiber Optic,0.0,...,Yes,68.980087,False,True,True,True,True,1,NaN,$102.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,NaN,Gender,senior,Dependant,Partner,Phone Service,NaN,Internet Service,\n,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1658,Is/Has,843,441,541,260,no service,154,None,99,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1659,Is not/ Doesnt Have,813,1215,1115,1396,1 line,780,Fiber Optic,1162,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1660,NaN,NaN,NaN,NaN,NaN,2 lines,722,DSL,395,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1661,1654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN